<section class="section mt-5 mt-sm-0 section-lg ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 text-center  ">
                <p class="lead">Ops... something went wrong</p>
            </div>
            <div class="col-12">
                <h5>Error message</h5>
                <div style="margin-bottom: 20px;">{{error.message}}</div>
            </div>
            <div class="col-12">
                <h5>Error stack</h5> 
                <div>{{error.stack}}</div>
            </div>
        </div>
    </div>
</section>