<div class="container">
    <div class="home-title mt-10">
        <div>
            <h4>Welcome to</h4>
        </div>
        <div>
            <h2>Admin</h2>
        </div>
        <div>
            <h4>Fast & Simple</h4>
        </div>
    </div>
    <div class="home-links">
        <div><a href="https://jsagon.com/jsagon-nodejs-framework" target="_blank">Documentation</a></div>
        <div><a href="https://github.com/jsagon/jsagon-nodejs-framework" target="_blank">Github</a></div>
        <div><a href="https://jsagon.com" target="_blank">Website</a></div>
    </div>
</div>