<footer class="footer py-4 pt-lg-6">
    

    <div class="container">
        
        <hr class="bg-light my-2">
        <div class="row pt-2 pt-lg-5">
            <div class="col mb-md-0">
                <a target="_blank" class="d-flex justify-content-center">
                    
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © JSagon <span class="current-year">2021</span>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>