<section class="section mt-5 section-lg ">
    <div class="container"> 
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 text-center  ">
                <h5>Ops... page not found :(</h5>
                <small><a href="/">Go Home</a></small>
            </div>
        </div>
    </div>
</section>